@tailwind base;
@tailwind components;
@tailwind utilities;

.thank-you-message {
  padding: 20px;
  margin-top: 20px;
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #dddddd; /* Slight border */
  border-radius: 8px;
  text-align: center;
  color: #2b2d42; /* Using the text color from your theme */
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}
